Source: git-spindle
Section: python
Priority: extra
Maintainer: Dennis Kaarsemaker <dennis@kaarsemaker.net>
Build-Depends: debhelper (>=9), python3-all, python3-sphinx, python3-cloud-sptheme, python3-setuptools
Standards-Version: 3.9.3
Vcs-Git: http://github.com/seveas/git-hub

Package: git-spindle
Architecture: all
Depends: python3-whelk (>=1.9), python3-github3.py (>=0.8.2), python3-docopt (>=0.5.0), git
Conflicts: git-hub (<2.0)
Replaces: git-hub (<2.0)
Description: GitHub, GitLab and Bitbucket integration for git
 With this git subcommand, you can perform various API actions on github,
 gitlab and bitbucket instances, such as creating or forking a repository from
 the command line or filing issues and pull requests

Package: git-hub
Architecture: all
Depends: git-spindle (>=2.0)
Description: git-hub was renamed to git-spindle, you may safely remove this package
