Source: git-hub
Section: python
Priority: extra
Maintainer: Dennis Kaarsemaker <dennis@kaarsemaker.net>
Build-Depends: debhelper (>= 7), python-all
Standards-Version: 3.9.3
Vcs-Git: http://github.com/seveas/git-hub

Package: git-hub
Architecture: all
Depends: python-whelk (>=1.9), python-github3.py (>=0.7.1), python-docopt (>=0.5.0)
Description: Github integration for git
 With this git subcommand, you can perform various github actions, such as
 creating or forking a repository from the command line.
