#!/usr/bin/make -f

%:
	dh $@ --buildsystem=pybuild

override_dh_auto_build:
	dh_auto_build
	make -C docs man

override_dh_auto_install:
	dh_auto_install
	install -m755 -d debian/tmp/etc/bash_completion.d/
	install -m644 -t debian/tmp/etc/bash_completion.d/ completion/git-spindle.completion.bash

override_dh_compress:
	dh_compress -X.rst
